<!-- Navbar -->
  <!-- Navbar -->
<app-header></app-header>



  <div fxflex="100" class="text-center color-black" >
    <img   src="https://e0.pxfuel.com/wallpapers/700/851/desktop-wallpaper-kakashi-hatake-naruto-amoled-black-background-artwork-black-dark-naruto-glowing.jpg">
  </div>

  <!-- Remove the container if you want to extend the Footer to full width. -->
<!-- End of .container -->
  <footer class="color-black text-center text-white" fxflex="100">
    <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About Me</h5>
    
            <p>
              Hospital based company
              •	I Reviewed project speciﬁcations and designed technological solutions that met performance requirements
              I also Identify and analyzed bugs in software code, resolved them eﬀectively, and developed new
              functions as required Collaborate with a team of Dot Net Developers to design, develop, and maintain software solutions for the Healthcare Industry.
              
              </p>
    
            <p>
             </p>
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
    
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg" />
              <label class="form-label" for="formControlLg">Search</label>
            </div>
    
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012, US</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">vishalharish81@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91 7989246195</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+91 8489395639</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Skills</h5>
    
            <table class="table text-center text-white color-black" >
              <tbody class="font-weight-normal color-black">
                <tr class="font-weight-normal color-black">
                  <td class="font-weight-normal text-white color-black">Java</td>
                  <td class="font-weight-normal text-white color-black">C#</td>
                </tr>
                <tr class="font-weight-normal color-black">
                  <td class="font-weight-normal text-white color-black">Angular</td>
                  <td class="font-weight-normal text-white color-black">JavaScript</td>
                </tr>
                <tr class="font-weight-normal color-black">
                  <td class="font-weight-normal text-white color-black">TypeScript</td>
                  <td class="font-weight-normal text-white color-black">Asp.Netcoe Web Api</td>
                </tr>
                <tr class="font-weight-normal color-black">
                  <td class="font-weight-normal text-white color-black">Html</td>
                  <td class="font-weight-normal text-white color-black">Css</td>

                </tr>
                <tr class="font-weight-normal color-black">
                  <td class="font-weight-normal text-white color-black">Sql</td>
                  <td class="font-weight-normal text-white color-black">My sql</td>
                  
                </tr>
             
              
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1 color-fb" href="#!" role="button"
          >Facebook</a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1 tb" href="#!" role="button"
          >Twitter</a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1 google" href="#!" role="button"
          >Google+</a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1 insta" href="#!" role="button"
          >Instagram
        </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1 linkedin" href="#!" role="button"
          >Linked in
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 github" href="#!" role="button"
          >Github
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://harishdrive.netlify.app/">HarishVishal</a>
    </div>
    <!-- Copyright -->
  </footer>