  <app-header></app-header>



<div>
<div class="flex-container">

</div>
<div>
  
</div>
<div class="flex-container" >
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">Aadhar card</h5>
              <p class="card-text"></p>
              <a  class="btn btn-primary" href="https://drive.google.com/file/d/13XKt-sKE7GuvxmweVm2Qwe_Ye_c16Vnv/view?usp=drive_link" >Go somewhere</a>
            </div>
          </div>
       
    </div>
    <div class="p-2 bd-highlight">
      <div class="card " style="width: 18rem;" fxFlex="30">
          <div class="card-body">
            <h5 class="card-title">Pan card</h5>
            <p class="card-text"></p>
            <a  class="btn btn-primary" href="https://drive.google.com/file/d/11w6wjNzBkoowLnSt5ACVueBM_HdEmBcM/view?usp=drive_link" >Go somewhere</a>
          </div>
        </div>
     
  </div>

    <div class="p-2 bd-highlight"> 
        <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">Resume</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1IFtb04Rx0-9tM6YIidbg-WNnBPZXr2vj/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   </div>
   <div class="p-2 bd-highlight"> 
    <div class="card " style="width: 18rem;" fxFlex="30">
    <div class="card-body">
      <h5 class="card-title">Photo</h5>
      <p class="card-text"></p>
      <a href="https://drive.google.com/file/d/119WI3-ImMltWmf6msiA0oGsv34O57Ff4/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

   
  </div>
  <div>
    
  </div>
  <div class="flex-container" >
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">1St Sem</h5>
              <p class="card-text"></p>
              <a class="btn btn-primary" href="https://drive.google.com/file/d/1l8tVBmzXiiHsRnhYI0GCfqi21fL5KYkr/view?usp=drive_link" >Go somewhere</a> 
              </div>
          </div>
       
    </div>
    <div class="p-2 bd-highlight"> 
        <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">2nd Sem</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/14YG43o1LWpqjRuT9RSVge2wzdamH_-WT/view?usp=drive_link
          " class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   </div>
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">3rd Sem</h5>
              <p class="card-text"></p>
              <a href="https://drive.google.com/file/d/1npyKZdptUBjlw_yT3RY3faGTeRS7s8Xx/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       
    </div>
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">4rt Sem</h5>
              <p class="card-text"></p>
              <a href="https://drive.google.com/file/d/1IYr2modoqcnGHHed-q5ZH-u0-sDgVqjW/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       
    </div>
   
  </div>
  <div class="flex-container" >
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">5th Sem</h5>
              <p class="card-text"></p>
              <a class="btn btn-primary" href="https://drive.google.com/file/d/1YQ3OIZVA0S8yQTY6yO-gnOFup3FI3LJ2/view?usp=drive_link" >Go somewhere</a> 
            </div>
          </div>
       
    </div>
    <div class="p-2 bd-highlight"> 
        <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">6th Sem</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1QRltKqEAUHPm28n1EeKAkzVFgIEortd5/view?usp=drive_link
          " class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   </div>
   <div class="p-2 bd-highlight">
    <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">10th MarkList</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1nQqNvbEUu9AdnJht_pVuXw2sAK1rCB9o/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   
</div>
<div class="p-2 bd-highlight">
    <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">12th MarkList</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1jwDAcTJhcJ6CebpNjio11A5gZ-XZ4K8n/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   
</div>

   
  </div>
  <div class="flex-container" >
    <div class="p-2 bd-highlight">
        <div class="card " style="width: 18rem;" fxFlex="30">
            <div class="card-body">
              <h5 class="card-title">Profecional</h5>
              <p class="card-text"></p>
              <a class="btn btn-primary" href="https://drive.google.com/file/d/1bNiQFENQx75yMx2Y0pD9kunOO-jtTwd4/view?usp=drive_link" >Go somewhere</a> 
            </div>
          </div>
       
    </div>
    <div class="p-2 bd-highlight"> 
        <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">Accord Certificate</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1TDilS_XHMsshpuCQlA5uFdgqClbKz1JD/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   </div>
   <div class="p-2 bd-highlight">
    <div class="card " style="width: 18rem;" fxFlex="30">
        <div class="card-body">
          <h5 class="card-title">OverAll Document</h5>
          <p class="card-text"></p>
          <a href="https://drive.google.com/file/d/1U2m4BqE4lvzQ7ac57mrq3RrbRHMFLEvJ/view?usp=drive_link" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   
</div>

   
  </div>

</div>
  
 
   
  